<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	    <dict>
	        <key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>NameCell</string>
		</dict>
        <dict>
        	<key>PostNotification</key>
			<string>com.lizynz.colorfont2</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.colorfont2</string>
			<key>key</key>
			<string>WhiteColor</string>
			<key>label</key>
			<string>White Color</string>
		</dict>
        <dict>
        	<key>PostNotification</key>
			<string>com.lizynz.colorfont2</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.colorfont2</string>
			<key>key</key>
			<string>Chameleon</string>
			<key>label</key>
			<string>Chameleon Color</string>
		</dict>
        <dict>
        	<key>PostNotification</key>
			<string>com.lizynz.colorfont2</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.colorfont2</string>
			<key>key</key>
			<string>BlackColor</string>
			<key>label</key>
			<string>Black Color</string>
		</dict>
        <dict>
	        <key>cell</key>
	        <string>PSGroupCell</string>
	    </dict>
	    <dict>
            <key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>flex</string>
			<key>label</key>
			<string>The tweak in Flex</string>
		</dict>
	    <dict>
            <key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Developer Twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>ColorFont2</string>
</dict>
</plist>
